.user-block p {
    margin-top: 0;
    margin-bottom: 0;
}
   
.user-block h4 {
    margin-bottom: 10px;
}

.user-block {
    padding: 30px 0;
    text-align: center;
    color: black;
    height: 150px;
    border-radius: 2px;
}